@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0a2a43;
    min-height: 1500px;
    font-size: 100%;
}

.paralax {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paralax::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0a2a43, transparent);
    z-index: 1000;
}

.paralax::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a2a43;
    z-index: 1000;
    mix-blend-mode: color;
}

.paralax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#road {
    z-index: 2;
}

#text {
    position: relative;
    color: #fff;
    font-size: 10vmax;
    z-index: 1;
}

.main {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5rem 0;
    color: #fff;
}

.main h2 {
    padding: 1rem 0;
}

.main p {
    padding: 0 0 0.25rem 0;
}

@media (max-width: 768px) {
    #text {
        font-size: 5vmax;
    }
}